.env
.env.local
.env.development.local
.env.test.local
.env.production.local
firebase-credentials.json

node_modules/
npm-debug.log*
yarn-error.log*
/frontend/dist
/dist
/build

.DS_Store
.AppleDouble
.LSOverride

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

coverage/
.coverage
