.env
.env.local
.env.*.local

firebase-credentials.json

venv/
.venv/
__pycache__/
*.pyc
*.pyo

node_modules/
/frontend/dist
/build
/dist

*.log
*.log*
*.tmp
*.swp

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

.DS_Store
.AppleDouble