.env
.env/
.env.local
.env.*.local

firebase-credentials.json

venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.egg-info/

node_modules/
/frontend/dist
/build
/dist

*.log
*.log*
*.tmp
*.swp
*.bak
*.orig
*.rej

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
.idea/
*.sublime-workspace
*.sublime-project

.DS_Store
.AppleDouble
Thumbs.db
ehthumbs.db
Desktop.ini

# Model dosyaları
*.pt
*.pth
*.h5
models/
weights/
